/* noticias de los cursos */
.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 2% 2% 2%;
}

.course-item {
  width: 30%;
  max-width: 600px;
  max-height: 650px;
  margin: 1%;
  background-color: #fdfdfd;
  border-bottom: 5px solid #000000;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.course-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.course-item h2 {
  margin: 16px;
  font-size: 110%;
  color: #0656c5;
}
.enlaceCurso {
  text-decoration: none;
}

@media (max-width: 700px) {
  .course-container {
    flex-direction: column;
    align-items: center;
  }

  .course-item {
    width: 70%;
    margin: 10px 0;
  }
}

@media (min-width: 701px) and (max-width: 1055px) {
  .course-item {
    width: 25%;
  }
}