:root {
  --morado: #530e90;
  --rosa: #a01cad;
  --azul_o: #021d41;
  --azul_c: #0656c5;
  --azul_p: #c1d5f0;
  --gris: #dbe1ec;
  --verde: #20ad1c;
  --top: 80px;
}
body {
  height: 100vh;
}
.content-d {
  position: relative;
  width: 100%;
  margin-top: 5%;
  display: flex;
}
form {
  width: 100%;
}
.image-upload-area1 {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.image-upload-area2 {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.image-preview-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 40%;
  height: 250px;
  margin-left: 50px;
}
.image-preview-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 40%;
  height: 250px;
  margin-left: 50px;
}
.image-preview1 {
  background-color: var(--azul_c);
  background-size: cover;
  background-position: center;
  height: 100px;
}
.image-preview2 {
  background-color: var(--azul_c);
  background-size: cover;
  background-position: center;
  height: 100px;
}
.main-image-preview1 {
  width: 50%;
  border-radius: 5px;
  height: 200px;
  background-color: var(--azul_p);
  background-size: cover;
}
.main-image-preview2 {
  width: 35%;
  border-radius: 5px;
  height: 200px;
  background-color: var(--azul_p);
  background-size: cover;
}
.image-upload-button1 {
  position: absolute;
  top: 90%;
  left: 47%;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--azul_c);
  color: var(--gris);
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
.image-upload-button2 {
  position: absolute;
  top: 90%;
  left: 32%;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--azul_c);
  color: var(--gris);
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
.image-upload-button1:hover {
  background-color: #0e67e1;
  color: #ffffff;
}
.image-upload-button2:hover {
  background-color: #0e67e1;
  color: #ffffff;
}
.hidden {
  display: none;
}
.title-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--azul_p);
}
.title-input:focus {
  outline: none;
}
.button-container1 {
  display: flex;
  justify-content: flex-end;
}
.button-container2 {
  display: flex;
  justify-content: flex-end;
}
.delete-button1,
.publish-button1 {
  position: absolute;
  width: 15%;
  height: 30px;
  border: 0;
  font-size: 100%;
  transition: all .3s;
  cursor: pointer;
  border: none;
}
.delete-button2,
.publish-button2 {
  position: absolute;
  width: 15%;
  height: 30px;
  border: 0;
  font-size: 100%;
  transition: all .3s;
  cursor: pointer;
  border: none;
}

.delete-button1 {
  top: 37%;
  left: 55%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
}
.delete-button2 {
  top: 92%;
  left: 40%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
}
.delete-button {
  top: 92%;
  left: 40%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
  border-width: 0;
  width: 20%;
  padding: 5px;
}
.publish-button1 {
  top: 30%;
  left: 55%;
  background-color: var(--verde);
  color: var(--gris);
}
.publish-button2 {
  top: 85%;
  left: 40%;
  background-color: var(--verde);
  color: var(--gris);
}
.publish-button {
  top: 85%;
  left: 40%;
  background-color: var(--verde);
  color: var(--gris);
  border-width: 0;
  width: 20%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 12%;
}
.delete-button1:hover {
  background-color: #b126be;
  color: #ffffff;
}
.publish-button2:hover {
  background-color: #2bc327;
  color: #ffffff;
}
.t_n1 {
  color: #a8aeb8;
  padding: 5px;
  position: absolute;
  top: 0;
}
.t_n2 {
  color: #a8aeb8;
  padding: 5px;
  position: absolute;
  top: 52%;
}
.cont-d2 {
    margin-top: 10%;
}
.formularios {
    padding: 30px;
}
.contenedor_formularios {
    position: absolute;
    width: 40%;
    top: 5%;
    left: 80%;
}
.f_azul {
    display: flex;
    width: 7%;
    height: 20px;
    padding: 5px;
    background-color: #0656c5;
    border-radius: 5px;
    margin: 5px;
}
.f_azul img {
    margin-top: 2px;
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 13%;
    left: 3%;
}
.input {
  width: 60%;
  height: 30px;
  padding: 2px;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--azul_p);
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #ffffff;
}
.XD {
    display: flex;
    position: relative;
}

@media (max-width: 700px) {
.content-d {
  position: relative;
  width: 100%;
  margin-top: 5%;
  display: flex;
}
form {
  width: 100%;
}
.image-upload-area1 {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.image-upload-area2 {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.image-preview-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 40%;
  height: 250px;
  margin-left: 50px;
}
.image-preview-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 40%;
  height: 250px;
  margin-left: 50px;
}
.image-preview1 {
  background-color: var(--azul_c);
  background-size: cover;
  background-position: center;
  height: 100px;
}
.image-preview2 {
  background-color: var(--azul_c);
  background-size: cover;
  background-position: center;
  height: 100px;
}
.main-image-preview1 {
  width: 50%;
  border-radius: 5px;
  height: 100px;
  background-color: var(--azul_p);
  background-size: cover;
}
.main-image-preview2 {
  width: 50%;
  border-radius: 5px;
  height: 100px;
  background-color: var(--azul_p);
  background-size: cover;
}
.image-upload-button1 {
  position: absolute;
  top: 90%;
  left: 47%;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--azul_c);
  color: var(--gris);
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
.image-upload-button2 {
  position: absolute;
  top: 90%;
  left: 45%;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--azul_c);
  color: var(--gris);
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
.image-upload-button1:hover {
  background-color: #0e67e1;
  color: #ffffff;
}
.image-upload-button2:hover {
  background-color: #0e67e1;
  color: #ffffff;
}
.hidden {
  display: none;
}
.title-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--azul_p);
}
.title-input:focus {
  outline: none;
}
.button-container1 {
  display: flex;
  justify-content: flex-end;
}
.button-container2 {
  display: flex;
  justify-content: flex-end;
}
.delete-button1,
.publish-button1 {
  position: absolute;
  width: 20%;
  height: 30px;
  border: 0;
  font-size: 100%;
  transition: all .3s;
  cursor: pointer;
  border: none;
}
.delete-button2,
.publish-button2 {
  position: absolute;
  width: 20%;
  height: 30px;
  border: 0;
  font-size: 100%;
  transition: all .3s;
  cursor: pointer;
  border: none;
}

.delete-button1 {
  top: 37%;
  left: 55%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
}
.delete-button2 {
  top: 87%;
  left: 55%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
}
.delete-button {
  top: 92%;
  left: 40%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
  border-width: 0;
  width: 25%;
  padding: 5px;
}
.publish-button1 {
  top: 27%;
  left: 55%;
  background-color: var(--verde);
  color: var(--gris);
}
.publish-button2 {
  top: 77%;
  left: 55%;
  background-color: var(--verde);
  color: var(--gris);
}
.publish-button {
  top: 85%;
  left: 40%;
  background-color: var(--verde);
  color: var(--gris);
  border-width: 0;
  width: 25%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 12%;
}
.delete-button1:hover {
  background-color: #b126be;
  color: #ffffff;
}
.publish-button2:hover {
  background-color: #2bc327;
  color: #ffffff;
}
.t_n1 {
  color: #a8aeb8;
  padding: 5px;
  position: absolute;
  top: 0;
  font-size: 80%;
}
.t_n2 {
  color: #a8aeb8;
  padding: 5px;
  position: absolute;
  top: 47%;
  font-size: 80%;
}
.cont-d2 {
    margin-top: 10%;
}
.formularios {
    padding: 30px;
}
.contenedor_formularios {
    position: absolute;
    width: 70%;
    top: 100%;
    left: 5%;
}
.f_azul {
    display: flex;
    width: 7%;
    height: 20px;
    padding: 5px;
    background-color: #0656c5;
    border-radius: 5px;
    margin: 5px;
}
.f_azul img {
    margin-top: 2px;
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 13%;
    left: 3%;
}
.input {
  width: 60%;
  height: 30px;
  padding: 2px;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--azul_p);
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #ffffff;
}
.XD {
    display: flex;
    position: relative;
}
.h2 {
  width: 20%;
}
}

@media (min-width: 701px) and (max-width: 900px) {
.content-d {
  position: relative;
  width: 100%;
  margin-top: 5%;
  display: flex;
}
form {
  width: 100%;
}
.image-upload-area1 {
  position: relative;
  width: 80%;
  display: flex;
  margin-bottom: 5px;
}
.image-upload-area2 {
  position: relative;
  width: 80%;
  display: flex;
  margin-bottom: 5px;
}
.image-preview-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 40%;
  height: 250px;
  margin-left: 50px;
}
.image-preview-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 40%;
  height: 250px;
  margin-left: 50px;
}
.image-preview1 {
  background-color: var(--azul_c);
  background-size: cover;
  background-position: center;
  height: 100px;
}
.image-preview2 {
  background-color: var(--azul_c);
  background-size: cover;
  background-position: center;
  height: 100px;
}
.main-image-preview1 {
  width: 50%;
  border-radius: 5px;
  height: 100px;
  background-color: var(--azul_p);
  background-size: cover;
}
.main-image-preview2 {
  width: 50%;
  border-radius: 5px;
  height: 100px;
  background-color: var(--azul_p);
  background-size: cover;
}
.image-upload-button1 {
  position: absolute;
  top: 90%;
  left: 47%;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--azul_c);
  color: var(--gris);
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
.image-upload-button2 {
  position: absolute;
  top: 90%;
  left: 45%;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--azul_c);
  color: var(--gris);
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
.image-upload-button1:hover {
  background-color: #0e67e1;
  color: #ffffff;
}
.image-upload-button2:hover {
  background-color: #0e67e1;
  color: #ffffff;
}
.hidden {
  display: none;
}
.title-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--azul_p);
}
.title-input:focus {
  outline: none;
}
.button-container1 {
  display: flex;
  justify-content: flex-end;
}
.button-container2 {
  display: flex;
  justify-content: flex-end;
}
.delete-button1,
.publish-button1 {
  position: absolute;
  width: 15%;
  height: 30px;
  border: 0;
  font-size: 100%;
  transition: all .3s;
  cursor: pointer;
  border: none;
}
.delete-button2,
.publish-button2 {
  position: absolute;
  width: 15%;
  height: 30px;
  border: 0;
  font-size: 100%;
  transition: all .3s;
  cursor: pointer;
  border: none;
}

.delete-button1 {
  top: 37%;
  left: 45%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
}
.delete-button2 {
  top: 87%;
  left: 45%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
}
.delete-button {
  top: 92%;
  left: 40%;
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
  border-width: 0;
  width: 20%;
  padding: 5px;
}
.publish-button1 {
  top: 27%;
  left: 45%;
  background-color: var(--verde);
  color: var(--gris);
}
.publish-button2 {
  top: 77%;
  left: 45%;
  background-color: var(--verde);
  color: var(--gris);
}
.publish-button {
  top: 85%;
  left: 40%;
  background-color: var(--verde);
  color: var(--gris);
  border-width: 0;
  width: 20%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 12%;
}
.delete-button1:hover {
  background-color: #b126be;
  color: #ffffff;
}
.publish-button2:hover {
  background-color: #2bc327;
  color: #ffffff;
}
.t_n1 {
  color: #a8aeb8;
  padding: 5px;
  position: absolute;
  top: 0;
}
.t_n2 {
  color: #a8aeb8;
  padding: 5px;
  position: absolute;
  top: 48%;
}
.cont-d2 {
    margin-top: 10%;
}
.formularios {
    padding: 30px;
}
.contenedor_formularios {
    position: absolute;
    width: 40%;
    top: 5%;
    left: 70%;
}
.f_azul {
    display: flex;
    width: 7%;
    height: 20px;
    padding: 5px;
    background-color: #0656c5;
    border-radius: 5px;
    margin: 5px;
}
.f_azul img {
    margin-top: 2px;
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 13%;
    left: 3%;
}
.input {
  width: 60%;
  height: 30px;
  padding: 2px;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--azul_p);
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #ffffff;
}
.XD {
    display: flex;
    position: relative;
}
.h2 {
  width: 20%;
}
}

@media (min-width: 901px) and (max-width: 1100px) {
.content-d {
  width: 70%;
  margin-left: 25%;
  margin-top: 5%;
}
.t_n2 {
  top: 50%;
}
form {
  width: 100%;
}
.formularios {
  padding: 30px 0 30px 30px;
}
.image-upload-area1 {
  width: 100%;
  margin-bottom: 50px;
}
.image-upload-area2 {
  width: 100%;
  margin-bottom: 50px;
}
.image-preview-container1 {
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  grid-gap: 15px;
  height: 150px;
  margin-left: 50px;
}
.image-preview-container2 {
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  grid-gap: 15px;
  height: 150px;
  margin-left: 50px;
}
.image-preview1 {
  height: 80px;
}
.image-preview2 {
  height: 80px;
}
.main-image-preview1 {
  width: 50%;
  height: 200px;
}
.main-image-preview2 {
  width: 50%;
  height: 200px;
}
.image-upload-button1 {
  top: 90%;
  left: 47%;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.image-upload-button2 {
  top: 90%;
  left: 47%;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.title-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.delete-button1,
.publish-button2 {
  width: 15%;
  height: 30px;
  border: 0;
  font-size: 90%;
}
.delete-button2,
.publish-button2 {
  width: 15%;
  height: 30px;
  border: 0;
  font-size: 90%;
}
.delete-button1 {
  top: 45%;
  left: 25%;
  margin-right: 10px;
}
.delete-button2 {
  top: 90%;
  left: 25%;
  margin-right: 10px;
}
.publish-button1 {
  top: 45%;
  left: 5%;
}
.publish-button2 {
  top: 90%;
  left: 5%;
}
.t_n2 {
  top: 50%;
}
.contenedor_formularios {
  width: 40%;
  top: 5%;
  left: 60%;
  right: 0;
}
}
