:root {
  --morado: #530e90;
  --rosa: #a01cad;
  --azul_o: #021d41;
  --azul_c: #0656c5;
  --azul_p: #c1d5f0;
  --gris: #dbe1ec;
  --verde: #20ad1c;
  --top: 80px;
}
body {
  height: 100vh;
}
.content-d {
  position: relative;
  width: 75%;
  margin-left: 25%;
  margin-top: 2%;
  display: flex;
  flex-direction: column; /* Cambiado a columna */
}
form {
  width: 100%;
}
.image-upload-area {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.main-image-preview {
  width: 50%;
  height: 300px;
  background-color: var(--azul_p);
  background-size: cover;
  margin: 30px 0 0 0;
}
.image-upload-button {
  position: absolute;
  top: 90%;
  left: 48%;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--azul_c);
  color: var(--gris);
  border-radius: 50%;
  font-size: 40px;
  justify-content: center;
  cursor: pointer;
}
.image-upload-button:hover {
  background-color: #0e67e1;
  color: #ffffff;
}
.hidden {
  display: none;
}
.text-content {
  position: absolute;
  width: 40%;
  top: 30px;
  left: 55%;
}
.title-input {
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--azul_p);
  font-family: Verdana;
}
.title-input:focus {
  outline: none;
}
.title-input::placeholder {
  color: #ffffff;
}
.content-a {
  width: 100%;
  min-height: 230px;
  background-color: #c1d5f0;
  border: 0;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  font-family: Verdana;
}
.content-a:focus {
  outline: none;
}
.content-a::placeholder {
  color: #ffffff;
}
.image-preview-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin-top: 70px;
}
.image-preview {
  background-color: var(--azul_c);
  background-size: cover;
  height: 100px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Espacio entre el contenedor de imágenes y los botones */
}
.delete-button,
.publish-button {
  width: 10%;
  height: 30px;
  border: 0;
  font-size: 110%;
  transition: all .3s;
  cursor: pointer;
}
.delete-button {
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
  position: absolute;
  top: 92%;
  left: 80%;
}
.publish-button {
  background-color: var(--verde);
  color: var(--gris);
  position: absolute;
  top: 53%;
  right: 35%;
}
.publish-button:hover {
  background-color: #2bc327;
  color: #ffffff;
}
.delete-button:hover {
  background-color: #b126be;
  color: #ffffff;
}
.t_n, .t_i {
  color: #a8aeb8;
  position: absolute;
}
.t_n {
  top: 0;
}
.t_i {
  top: 58%;
}

@media (min-width: 300px) and (max-width: 700px) {
.main-image-preview {
  width: 50%;
  height: 100px;
}
.image-upload-button {
  top: 90%;
  left: 44%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
}
.text-content {
  width: 40%;
  top: 0;
  left: 55%;
}
.title-input {
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.content-a {
  width: 90%;
  height: 100px;
  min-height: 100px;
  border-radius: 10px;
  padding: 5px;
}
.image-preview-container {
  grid-gap: 10px;
  width: 70%;
  margin-top: 70px;
}
.image-preview {
  height: 50px;
}
.button-container {
  margin-top: 20px;
}
.delete-button,
.publish-button {
  width: 20%;
  height: 30px;
  border: 0;
  font-size: 90%;
}
.delete-button {
  margin-right: 10px;
  top: 85%;
  left: 70%;
}
.publish-button {
  top: 45%;
  right: 50%;
}
.t_i {
  top: 52%;
}
}

@media (min-width: 701px) and (max-width: 900px) {
.main-image-preview {
  width: 50%;
  height: 180px;
}
.image-upload-button {
  top: 90%;
  left: 48%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
}
.text-content {
  width: 40%;
  top: 0;
  left: 55%;
}
.title-input {
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.content-a {
  width: 97%;
  height: 100px;
  min-height: 100px;
  border-radius: 10px;
  padding: 5px;
}
.image-preview-container {
  grid-gap: 15px;
  width: 70%;
  margin-top: 70px;
}
.image-preview {
  height: 70px;
}
.button-container {
  margin-top: 20px;
}
.delete-button,
.publish-button {
  width: 15%;
  height: 30px;
  border: 0;
  font-size: 90%;
}
.delete-button {
  margin-right: 10px;
  top: 90%;
  left: 70%;
}
.publish-button {
  top: 48%;
  right: 50%;
}
}

@media (min-width: 901px) and (max-width: 1100px) {
.main-image-preview {
  width: 50%;
  height: 180px;
}
.image-upload-button {
  top: 90%;
  left: 48%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
}
.text-content {
  width: 40%;
  top: 0;
  left: 55%;
}
.title-input {
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.content-a {
  width: 97%;
  height: 100px;
  min-height: 100px;
  border-radius: 10px;
  padding: 5px;
}
.image-preview-container {
  grid-gap: 15px;
  width: 70%;
  margin-top: 70px;
}
.image-preview {
  height: 70px;
}
.button-container {
  margin-top: 20px;
}
.delete-button,
.publish-button {
  width: 15%;
  height: 30px;
  border: 0;
  font-size: 90%;
}
.delete-button {
  margin-right: 10px;
  top: 90%;
  left: 70%;
}
.publish-button {
  top: 48%;
  right: 50%;
}
}