:root {
  --morado: #530e90;
  --rosa: #a01cad;
  --azul_o: #021d41;
  --azul_c: #0656c5;
  --azul_p: #c1d5f0;
  --gris: #dbe1ec;
  --verde: #20ad1c;
  --blanco: #ffffff;
}
.encabezado_n {
    background-color: var(--morado);
    width: 60%;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--blanco);
    padding: 5px 20px;
}
.contenedor_noticia {
    width: 90%;
    margin: 2% auto;
    height: 710px;
}
.contenedor_s1 {
    display: flex;
    margin: 2% 2% 1% 2%;
    position: relative;
}
.imagen_n {
    width: 60%;
}
.imagen_n img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 400px;
}
.contenido_n1, .contenido_n2 {
    background-color: var(--blanco);
    box-shadow: 5px 3px 10px #a7a7a7;
    border-bottom: 15px solid var(--azul_o);
    border-radius: 10px 10px 0 0;
}
.span {
    padding: 20px;
}
.contenido_n1 {
    width: 35%;
    position: absolute;
    right: 0%;
    height: 345px;
}
.contenido_n2 {
    position: absolute;
    top: 420px;
    left: 0;
    width: 97%;
    height: 240px;
}

@media (min-width: 300px) and (max-width: 500px) {
.encabezado_n {
    font-size: 50%;
}
.contenedor_s1 {
    display: block;
}
.contenedor_noticia {
    width: 90%;
    margin: 2% auto;
    height: 730px;
}
.contenedor_s1 {
    margin: 2% 2% 1% 2%;
}
.imagen_n {
    width: 60%;
}
.imagen_n img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
}
.contenido_n1, .contenido_n2 {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0;
    border-radius: 0;
}
.contenido_n1 p, .contenido_n2 p {
    margin: 20px;
}
.contenido_n1 {
    width: 90%;
    top: 5px;
    left: 0%;
    height: 200px;
    font-size: 60%;
}
.contenido_n2 {
    width: 90%;
    height: 280px;
    padding: 5px 0 0 0;
    font-size: 60%;
    position: absolute;
    top: 210px;
    left: 20px;
}
.p_c {
    background-color: var(--blanco);
    box-shadow: 5px 3px 10px #a7a7a7;
    border-bottom: 15px solid var(--azul_o);
    border-radius: 10px 10px 0 0;
    height: 500px;
    position: relative;
    margin-top: 10px;
}
}

@media (min-width: 501px) and (max-width: 700px) {
.encabezado_n {
    font-size: 50%;
}
.contenedor_s1 {
    display: block;
}
.contenedor_noticia {
    width: 90%;
    margin: 2% auto;
    height: 850px;
}
.contenedor_s1 {
    margin: 2% 2% 1% 2%;
}
.imagen_n {
    width: 60%;
}
.imagen_n img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
.contenido_n1, .contenido_n2 {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0;
    border-radius: 0;
}
.contenido_n1 p, .contenido_n2 p {
    margin: 20px;
}
.contenido_n1 {
    width: 90%;
    top: 5px;
    left: 0%;
    height: 200px;
    font-size: 80%;
}
.contenido_n2 {
    width: 90%;
    height: 280px;
    padding: 5px 0 0 0;
    font-size: 80%;
    position: absolute;
    top: 210px;
    left: 20px;
}
.p_c {
    background-color: var(--blanco);
    box-shadow: 5px 3px 10px #a7a7a7;
    border-bottom: 15px solid var(--azul_o);
    border-radius: 10px 10px 0 0;
    height: 500px;
    position: relative;
    margin-top: 10px;
}
}

@media (min-width: 701px) and (max-width: 900px) {
.encabezado_n {
    background-color: var(--morado);
    width: 60%;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--blanco);
    padding: 5px 20px;
    font-size: 80%;
}
.contenedor_noticia {
    width: 90%;
    margin: 2% auto;
    height: 530px;
}
.contenedor_s1 {
    display: flex;
    margin: 2% 2% 1% 2%;
    position: relative;
}
.imagen_n {
    width: 55%;
}
.imagen_n img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 280px;
}
.contenido_n1, .contenido_n2 {
    background-color: var(--blanco);
    box-shadow: 5px 3px 10px #a7a7a7;
    border-bottom: 15px solid var(--azul_o);
    border-radius: 10px 10px 0 0;
}
.contenido_n1 {
    width: 35%;
    position: absolute;
    right: 0%;
    height: 225px;
}
.contenido_n2 {
    position: absolute;
    top: 310px;
    left: 0;
    width: 94%;
    height: 150px;
}
.p_c {
    font-size: 65%;
}
}

@media (min-width: 901px) and (max-width: 1100px) {
.encabezado_n {
    background-color: var(--morado);
    width: 60%;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--blanco);
    padding: 5px 20px;
    font-size: 80%;
}
.contenedor_noticia {
    width: 90%;
    margin: 2% auto;
    height: 530px;
}
.contenedor_s1 {
    display: flex;
    margin: 2% 2% 1% 2%;
    position: relative;
}
.imagen_n {
    width: 55%;
}
.imagen_n img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 280px;
}
.contenido_n1, .contenido_n2 {
    background-color: var(--blanco);
    box-shadow: 5px 3px 10px #a7a7a7;
    border-bottom: 15px solid var(--azul_o);
    border-radius: 10px 10px 0 0;
}
.contenido_n1 {
    width: 35%;
    position: absolute;
    right: 0%;
    height: 225px;
}
.contenido_n2 {
    position: absolute;
    top: 310px;
    left: 0;
    width: 94%;
    height: 150px;
}
.p_c {
    font-size: 70%;
}
}

@media (min-width: 1101px) and (max-width: 1300px) {
.encabezado_n {
    background-color: var(--morado);
    width: 60%;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--blanco);
    padding: 5px 20px;
    font-size: 80%;
}
.contenedor_noticia {
    width: 90%;
    margin: 2% auto;
    height: 600px;
}
.contenedor_s1 {
    display: flex;
    margin: 2% 2% 1% 2%;
    position: relative;
}
.imagen_n {
    width: 59%;
}
.imagen_n img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 340px;
}
.contenido_n1, .contenido_n2 {
    background-color: var(--blanco);
    box-shadow: 5px 3px 10px #a7a7a7;
    border-bottom: 15px solid var(--azul_o);
    border-radius: 10px 10px 0 0;
}
.contenido_n1 {
    width: 35%;
    position: absolute;
    right: 0%;
    height: 285px;
}
.contenido_n2 {
    position: absolute;
    top: 360px;
    left: 0;
    width: 96%;
    height: 180px;
}
.p_c {
    font-size: 90%;
}
}