/* seccion de contacto debajo del mapa */
.contacto-container {
  background: linear-gradient(to right, #021d41, #530e90, #a01cad);
  padding: 3% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  flex: 1;
}

.icon-link img {
  margin-right: 0.5rem;
}

.icon-link span {
  font-size: 0.9rem;
}

@media (min-width: 300px) and (max-width: 500px) {
.icon-link img {
  width: 30px;
}
}